<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head th:insert="~{index :: head}"></head>

<body>
    <div th:insert="~{index :: navbar}"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Registration</h2>
                    </div>
                    <div th:if="${param.success}">
                        <div class="alert alert-info">
                            You have successfully registered in our app!
                        </div>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/register/save}" method="POST" role="form" th:object="${user}">
                            <div class="from-group mb-3">
                                <label for="firstname" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="firstname" name="firstname"
                                    placeholder="Enter your first name" th:field="*{firstname}">
                                <p th:errors="*{firstname}" class="text-danger"
                                    th:if="${#fields.hasErrors('firstname')}">
                                </p>
                            </div>
                            <div class="from-group mb-3">
                                <label for="lastname" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="lastname" name="lastname"
                                    placeholder="Enter your last name" th:field="*{lastname}">
                                <p th:errors="*{lastname}" class="text-danger" th:if="${#fields.hasErrors('lastname')}">
                                </p>
                            </div>
                            <div class="from-group mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="Enter your email address" th:field="*{email}">
                                <p th:errors="*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}"></p>
                            </div>
                            <div class="from-group mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Enter your password" th:field="*{password}">
                                <p th:errors="*{password}" class="text-danger" th:if="${#fields.hasErrors('password')}">
                                </p>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Register</button>
                                <span>Already have an account?
                                    <a th:href="@{/login}">Login here</a>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="~{index :: footer}"></div>
    <script th:replace="~{index :: bootstrapScript}"></script>
</body>

</html>