<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head th:insert="~{index :: head}"></head>

<body>
    <div th:insert="~{index :: navbar}"></div>

    <div class="mt-5">
        <div th:if="${successMessage}" class="alert alert-success">
            <p th:text="${successMessage}"></p>
        </div>
    </div>

    <div class="container min-vh-100">
        <div class="row justify-content-center mb-5">

            <div class="col-12 d-flex justify-content-center align-items-center pt-5 pb-4">
                <h1 th:text="${title}">Dashboard</h1>
            </div>

            <div class="accordion col-10 mt-4">
                <!-- table pending requests -->
                <div class="accordion-item acc-notification">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseOne">
                            <h5>Pending Requests</h5>
                            <span class="position-relative me-2" th:if="${careerPending > 0}">
                                <i class="fa-solid fa-bell ms-1"></i>
                                <span
                                    class="badge rounded-pill bg-danger text-white fs-7 position-absolute notification"
                                    th:text="${careerPending}"></span>
                            </span>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div th:if="${#lists.isEmpty(pendingRequests)}">
                                <p>No pending requests.</p>
                            </div>
                            <table class="table table-striped table-responsive-lg"
                                th:unless="${#lists.isEmpty(pendingRequests)}">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Requested role</th>
                                        <th>Read</th>
                                        <th>Detail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="request : ${pendingRequests}">
                                        <td th:text="${request.user.username}"></td>
                                        <td th:text="${request.role.name.replace('ROLE_', '')}"></td>
                                        <td>
                                            <i th:if="${request.isChecked == true}"
                                                class="fa-regular fa-circle-check text-success"></i>
                                            <i th:if="${request.isChecked == false}"
                                                class="fa-regular fa-circle-xmark text-danger"></i>
                                        </td>
                                        <td>
                                            <a th:href="@{/operations/career/request/detail/{id}(id=${request.id})}"
                                                class="text-decoration-none">
                                                <i class="fa-solid fa-circle-info mx-2"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- table accepted requests -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                            <h5>Accepted Requests</h5>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div th:if="${#lists.isEmpty(acceptedRequests)}">
                                <p>No accepted requests.</p>
                            </div>
                            <table class="table table-success table-striped table-responsive-lg"
                                th:unless="${#lists.isEmpty(acceptedRequests)}">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Current role</th>
                                        <th>Action</th>
                                        <th>Detail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="request : ${acceptedRequests}">
                                        <td th:text="${request.user.username}"></td>
                                        <td th:text="${request.role.name.replace('ROLE_', '')}"></td>
                                        <td>
                                            <form
                                                th:action="@{/operations/career/request/revoke/{id}(id=${request.id})}"
                                                method="POST" class="d-inline">
                                                <button type="submit" class="btn btn-danger btn-sm">Reject</button>
                                            </form>
                                        </td>
                                        <td>
                                            <a th:href="@{/operations/career/request/detail/{id}(id=${request.id})}"
                                                class="text-decoration-none">
                                                <i class="fa-solid fa-circle-info mx-2"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- table rejected requests -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            <h5>Rejected Requests</h5>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div th:if="${#lists.isEmpty(rejectedRequests)}">
                                <p>No rejected requests.</p>
                            </div>
                            <table class="table table-danger table-striped table-responsive-lg"
                                th:unless="${#lists.isEmpty(rejectedRequests)}">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Rejected role</th>
                                        <th>Action</th>
                                        <th>Detail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="request : ${rejectedRequests}">
                                        <td th:text="${request.user.username}"></td>
                                        <td th:text="${request.role.name.replace('ROLE_', '')}"></td>
                                        <td>
                                            <form
                                                th:action="@{/operations/career/request/accept/{id}(id=${request.id})}"
                                                method="POST" class="d-inline">
                                                <button type="submit" class="btn btn-success btn-sm">Accept</button>
                                            </form>
                                        </td>
                                        <td>
                                            <a th:href="@{/operations/career/request/detail/{id}(id=${request.id})}"
                                                class="text-decoration-none">
                                                <i class="fa-solid fa-circle-info mx-2"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- table categories -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseFour">
                            <h5 class="mt-1">All categories</h5>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div th:if="${#lists.isEmpty(categories)}" class="d-flex justify-content-between">
                                <p>No categories.</p>
                                <a th:href="@{'/categories/create'}" class="btn btn-success me-4" title="Add category">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </div>
                            <table class="table table-striped table-responsive-lg"
                                th:unless="${#lists.isEmpty(categories)}">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th class="position-relative">Actions
                                            <a th:href="@{'/categories/create'}" class="btn btn-success plus-category"
                                                title="Add category">
                                                <i class="fa-solid fa-plus"></i>
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="category : ${categories}">
                                        <td th:text="${category.id}"></td>
                                        <td th:text="${category.name}"></td>
                                        <td>
                                            <a th:href="@{/categories/edit/{id}(id=${category.id})}"
                                                class="btn btn-warning mx-2"
                                                th:title="|Edit category ${category.name}|">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                            <a th:href="@{/categories/delete/{id}(id=${category.id})}"
                                                class="btn btn-danger mx-2"
                                                th:title="|Delete category ${category.name}|">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>




            </div>


        </div>
    </div>


    <div th:insert="~{index :: footer}"></div>


    <!-- script esterno + bootstrap -->
    <div th:replace="~{index :: script}"></div>
</body>

</html>