<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head th:insert="~{index :: head}"></head>

<body>
    <div th:insert="~{index :: navbar}"></div>


    <div class="vh-100">

        <div class="container-fluid p-5 mt-5 bg-secondary-subtle text-center">
            <div class="row justify-content-center">
                <div class="col-11 position-relative">
                    <a th:href="@{/admin/dashboard}"
                        class="btn btn-outline-primary m-2 position-absolute top-0 start-0">
                        <i class="fa-solid fa-arrow-left me-1"></i>
                        Go back
                    </a>
                    <h1>Request for
                        <span th:text="${request.role.name.replace('ROLE_', '')}"></span>
                    </h1>
                </div>
            </div>
        </div>

        <div class="container my-5">
            <div class="row justify-content-center">

                <div class="col-12 col-md-8 mb-5">
                    <p>Username: </p>
                    <h2 class="ms-4" th:text="${request.user.username}">name</h2>
                </div>
                <div class="col-12 col-md-8 mb-5">
                    <p>Body request:</p>
                    <h3 class="ms-4" th:text="${request.body}">body</h3>
                </div>
                <div class="col-12 col-md-8 mb-4">
                    <form th:action="@{/operations/career/request/accept/{id}(id=${request.id})}" method="POST">
                        <button type="submit" class="btn btn-primary m-2">
                            Accept
                        </button>
                    </form>
                </div>

            </div>
        </div>

    </div>



    <div th:insert="~{index :: footer}"></div>

    <script th:replace="~{index :: bootstrapScript}"></script>
</body>

</html>