<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head th:insert="~{index :: head}"></head>

<body>
    <div th:insert="~{index :: navbar}"></div>

    <div class="container-fluid p-5 bg-secondary-subtle text-center">
        <div class="row justify-content-center">
            <div class="col-12 py-4">
                <h1>Detail</h1>
                <h2 th:text="${article.title}">Title</h2>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-5">
                <img th:if="${article.image != null}" th:src="${article.image.path}"
                    th:alt="'image of ' + ${article.title}" class="card-img-top">
                <img th:unless="${article.image != null}" th:src="@{/images/default.jpg}" alt="default image"
                    class="card-img-top">
            </div>

            <div th:if="${article.galleryImages != null and !article.galleryImages.isEmpty()}" class="col-12 col-md-5">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item" th:each="galleryImage, iterStat : ${article.galleryImages}"
                            th:classappend="${iterStat.index == 0} ? ' active'">
                            <img th:src="${galleryImage.path}" th:alt="|gallery image of ${article.title}|"
                                class="d-block w-100">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-12 col-md-8 d-flex flex-column">
                <div class="text-center">
                    <h2 th:text="${article.subtitle}">Subtitle</h2>
                    <p class="fs-5" th:if="${article.category != null}">Category:
                        <a th:href="@{/categories/search/{id}(id=${article.category.id})}"
                            class="text-capitalize fw-bold text-muted" th:text="${article.category.name}">category</a>
                    </p>
                    <p class="fs-5" th:if="${article.category == null}">No category</p>
                    <div class="text-muted my-3">
                        <p>Edited at
                            <span th:text="${article.publishDate}">date</span>
                            by
                            <a class="text-muted" th:href="@{/search/{id}(id=${article.user.id})}">
                                <p th:text="${article.user.username}">User</p>
                            </a>
                        </p>
                    </div>
                </div>

                <p th:text="${article.body}"></p>

                <div class="text-center">
                    <a href="#" class="text-secondary pointer" onclick="goBack()">Go back</a>
                </div>

                <div class="d-flex justify-content-between">
                    <form th:action="@{/articles/accept(action='accept', articleId=${article.id})}" method="POST"
                        th:object="${article}" th:if="${article.isAccepted == false || article.isAccepted == null}">
                        <button type="submit" class="btn btn-success mx-2">Accept</button>
                    </form>
                    <div class="text-danger" th:if="${article.isAccepted == false}">Article rejected</div>
                    <div class="text-success" th:if="${article.isAccepted == true}">Article accepted</div>
                    <form th:action="@{/articles/accept(action='reject', articleId=${article.id})}" method="POST"
                        th:object="${article}" th:if="${article.isAccepted == true || article.isAccepted == null}">
                        <button type="submit" class="btn btn-danger mx-2">Reject</button>
                    </form>
                </div>

            </div>
        </div>

    </div>

    <div th:insert="~{index :: footer}"></div>



    <!-- script esterno + bootstrap -->
    <div th:replace="~{index :: script}"></div>
</body>

</html>