<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head th:insert="~{index :: head}"></head>

<body th:data-article-id="${article.id}" class="text-white bg-black">
    <div th:insert="~{index :: navbar}"></div>

    <div class="min-vh-100">

        <!-- Page Header -->
        <div class="page-header">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <h1 th:text="${article.title}">Article Title</h1>
                        <!-- Author and Date -->
                        <div>
                            <i class="fas fa-user c-black me-1"></i>
                            By:
                            <a class="text-decoration-none c-white me-5"
                                th:href="@{/search/{id}(id=${article.user.id})}">
                                <strong th:text="${article.user.username}">User</strong>
                            </a>

                            <i class="fas fa-calendar-alt c-black me-1"></i>
                            Published:
                            <span th:text="${#temporals.format(article.publishDate, 'dd MMMM yyyy')}">date</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Article Detail Section -->
        <div class="container">
            <div class="row justify-content-center">
                <!-- Main Content -->
                <div class="col-12 col-md-9">
                    <div class="detail-content">
                        <div class="row justify-content-around align-items-center mb-5">

                            <!-- Cover Image No Gallery -->
                            <div th:if="${article.galleryImages.size() == 0 }"
                                class="col-12 col-lg-4 d-flex justify-content-center current-image-container">
                                <img th:if="${article.image != null}" th:src="${article.image.path}"
                                    th:alt="'image of ' + ${article.title}" class="img-fluid">
                                <img th:unless="${article.image != null}" th:src="@{/images/default.jpg}"
                                    alt="default image" class="img-fluid w-100">
                            </div>

                            <!-- Cover Image Single Gallery -->
                            <div th:if="${article.galleryImages.size() == 1}"
                                class="col-12 col-lg-4 d-flex justify-content-center current-image-container">
                                <img th:if="${article.image != null}" th:src="${article.image.path}"
                                    th:alt="'image of ' + ${article.title}" class="img-fluid">
                                <img th:unless="${article.image != null}" th:src="@{/images/default.jpg}"
                                    alt="default image" class="img-fluid w-100">
                            </div>

                            <!-- Single Image Display -->
                            <div th:if="${article.galleryImages.size() == 1}"
                                class=" d-flex justify-content-center col-12 col-lg-4 current-image-container">
                                <img th:src="${article.galleryImages[0].path}"
                                    th:alt="|gallery image of ${article.title}|" class="img-fluid">
                            </div>

                            <!-- Cover Image Multiple Gallery -->
                            <div th:if="${article.galleryImages.size() > 1}"
                                class="col-12 col-lg-4 d-flex justify-content-center current-image-container">
                                <img th:if="${article.image != null}" th:src="${article.image.path}"
                                    th:alt="'image of ' + ${article.title}" class="object-fit-contain img-fluid">
                                <img th:unless="${article.image != null}" th:src="@{/images/default.jpg}"
                                    alt="default image" class="img-fluid w-100">
                            </div>
                            <!-- Multiple Images Swiper Carousel -->
                            <div th:if="${article.galleryImages.size() > 1}"
                                class="gallery-swiper-container mb-3 col-12 col-lg-7">
                                <swiper-container class="gallery-swiper" space-between="60" slides-per-view="1.7"
                                    pagination="true" pagination-clickable="true" navigation="true"
                                    centered-slides="false" grab-cursor="true">
                                    <swiper-slide th:each="galleryImage : ${article.galleryImages}">
                                        <div class="gallery-slide-content">
                                            <img th:src="${galleryImage.path}"
                                                th:alt="|gallery image of ${article.title}|" class="gallery-image">
                                        </div>
                                    </swiper-slide>
                                </swiper-container>
                            </div>
                        </div>

                        <!-- Article Metadata -->
                        <div class="row mx-3 mb-0">
                            <h2 class="col-12 text-center" th:text="${article.subtitle}">Article Subtitle</h2>
                        </div>

                        <!-- Article Body -->
                        <div class="row mx-3">
                            <div class="col-12 artcle-body mb-2">
                                <p th:text="${article.body}" class="lead">Article content goes here...</p>
                            </div>
                        </div>

                        <div class="row mx-3 mb-4">
                            <div class="col-12">

                                <div class="d-flex flex-wrap gap-3 align-items-center">

                                    <!-- Category -->
                                    <div th:if="${article.category != null}">
                                        <i class="fas fa-folder c-red me-1"></i>
                                        Category:
                                        <strong>
                                            <a th:href="@{/categories/search/{id}(id=${article.category.id})}"
                                                class="text-capitalize text-decoration-none c-red"
                                                th:text="${article.category.name}">category</a>
                                        </strong>
                                    </div>
                                    <!-- No Category -->
                                    <div th:if="${article.category == null}">
                                        <i class="fas fa-folder c-red me-1"></i>
                                        Category:
                                        <strong>No category</strong>
                                    </div>
                                    <!-- Featured -->
                                    <div th:if="${article.isFeatured}" class="d-inline-block me-2">
                                        <span class="featured-badge">
                                            <i class="fa-solid fa-star c-red"></i> Featured Article
                                        </span>
                                    </div>
                                    <!-- Article Type -->
                                    <div th:if="${article.articleType}">
                                        <i class="fas fa-tag c-red me-1"></i>
                                        Article type:
                                        <strong class="text-capitalize c-red"
                                            th:text="${article.articleType}">Type</strong>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div th:each="article : ${latestArticles}" class="col-12 d-flex justify-content-center">
                        <a th:href="@{/articles/detail/{id}(id=${article.id})}" class="text-decoration-none c-white">
                            <article class="article-card w-100">
                                <!-- Article type badge -->
                                <div class="position-absolute top-0 start-0 z-2">
                                    <span class="badge bg-warning text-dark" th:text="${article.articleType}">
                                        <i class="fa-solid fa-star"></i> Type
                                    </span>
                                </div>
                                <!-- Article category badge -->
                                <div th:if="${article.isFeatured}" class="position-absolute top-0 end-0 z-2">
                                    <span class="badge bg-primary" th:text="${article.category.name}">
                                        Category
                                    </span>
                                </div>
                                <div class="row align-items-center">
                                    <!-- Image -->
                                    <div class="col-12 col-md-4 px-0">
                                        <img th:if="${article.image != null}" th:src="${article.image.path}"
                                            th:alt="'image of ' + ${article.title}"
                                            class="img-fluid h-100 object-fit-cover">
                                        <img th:unless="${article.image != null}" th:src="@{/images/default.jpg}"
                                            alt="default image" class="img-fluid h-100 object-fit-cover">
                                    </div>
                                    <!-- Text -->
                                    <div
                                        class="col-12 col-md-7 d-flex justify-content-between align-items-start flex-column pt-2 ps-3 pe-0">
                                        <h5 class="card-title pb-2" th:text="${article.title}">Article Title</h5>
                                        <small class="card-text truncate-2 pt-1 mb-3" th:text="${article.body}">
                                            Article Body
                                        </small>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Category and Author info -->
                                    <div class="mb-1 col-6 pe-0">
                                        <small class="ms-2" th:if="${article.publishDate != null}">
                                            <i class="fas fa-calendar me-1"></i>
                                            <span th:text="${article.publishDate}">Date</span>
                                        </small>
                                    </div>
                                    <div class="mb-1 col-6 text-end ps-0">
                                        <cite class="card-text me-2">
                                            <i class="fas fa-user me-1"></i>
                                            <span th:text="${article.user.username}">Author</span>
                                        </cite>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                </div>

                <!-- AI Integration Section -->
                <div class="col-12">
                    <div class="my-4 text-center">
                        <a th:href="@{/articles/detail/{id}/summary(id=${article.id})}"
                            class="btn btn-primary btn-lg me-3">
                            <i class="fas fa-compress-alt me-2"></i>Get Summary
                        </a>
                        <button id="ask-btn" class="btn btn-secondary btn-lg">
                            <i class="fas fa-question-circle me-2"></i>Ask AI
                        </button>
                    </div>

                    <!-- AI Output Section -->
                    <div id="ai-output">
                        <!-- Summary Section -->
                        <div id="summary-section" th:if="${summary != null}">
                            <h4 class="c-red">
                                <i class="fas fa-compress-alt me-2"></i>Article Summary
                            </h4>
                            <div class="bg-dark-surface p-3 rounded">
                                <p th:text="${summary}" class="mb-0"></p>
                            </div>
                        </div>

                        <!-- Chat Container -->
                        <div id="chat-container" class="mt-4">
                            <h4 class="c-red">
                                <i class="fas fa-robot me-2 mb-2"></i>Chat with AI
                            </h4>
                            <div id="chat-messages" class="border px-4 py-3 mb-3 text-start">
                                <div class="text-center pt-3" id="chat-placeholder">
                                    <i class="fas fa-comments fa-2x mb-2"></i>
                                    <p>Start asking questions about this article!</p>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" id="chat-input" class="form-control"
                                    placeholder="Ask something about this article...">
                                <button class="btn btn-primary p" type="button" id="send-btn">
                                    <i class="fas fa-paper-plane me-2"></i>
                                    <span class="me-3">Send</span>
                                </button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <!-- Related/Recommended Section -->
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="detail-content">
                        <h3 class="c-red mb-4">
                            <i class="fas fa-newspaper me-2"></i>More from Devil's Chronicle
                        </h3>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <a href="/articles" class="text-decoration-none">
                                    <div class="p-3 bg-dark rounded mb-3 more-content">
                                        <i class="fas fa-newspaper fa-3x c-red mb-2"></i>
                                        <h5 class="text-white">All Articles</h5>
                                        <p class="">Browse our complete collection</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 text-center" th:if="${article.category != null}">
                                <a th:href="@{/categories/search/{id}(id=${article.category.id})}"
                                    class="text-decoration-none">
                                    <div class="p-3 bg-dark rounded mb-3 more-content">
                                        <i class="fas fa-folder fa-3x c-red mb-2"></i>
                                        <h5 class="text-white" th:text="${article.category.name}">Category</h5>
                                        <p class="">More from this category</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 text-center">
                                <a href="/" class="text-decoration-none">
                                    <div class="p-3 bg-dark rounded mb-3 more-content">
                                        <i class="fas fa-home fa-3x c-red mb-2"></i>
                                        <h5 class="text-white">Homepage</h5>
                                        <p class="">Latest Milan news</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navigation -->
        <div class="text-center mt-4 fs-5">
            <a href="javascript:history.back()" class=" text-decoration-none c-red-dark">
                <i class="fas fa-arrow-left me-1"></i>Go back
            </a>
            <!-- <span class="mx-3 ">|</span>
            <a href="/articles" class=" text-decoration-none c-red-dark">
                <i class="fas fa-list me-1"></i>All Articles
            </a>
            <span class="mx-3 ">|</span>
            <a href="/" class=" text-decoration-none c-red-dark">
                <i class="fas fa-home me-1"></i>Homepage
            </a> -->
        </div>
    </div>

    <div th:insert="~{index :: footer}"></div>

    <!-- script esterno + bootstrap -->
    <div th:replace="~{index :: script}"></div>
</body>

</html>