<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head th:insert="~{index :: head}"></head>

<body>
    <div th:insert="~{index :: navbar}"></div>


    <div class="min-vh-100">
        <div class="container">
            <div class="row justify-content-center my-5">

                <div class="col-12 my-5 d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-center align-items-center flex-grow-1">
                        <h1 th:text="${title}">Edit Article</h1>
                    </div>
                </div>

                <div class="alert alert-warning d-flex align-items-center col-7" role="alert">
                    <i class="fas fa-exclamation-triangle me-2"></i>
                    <div>
                        <strong>Notice: </strong>
                        If you update any of the article fields, it will be sent back for the
                        review.
                    </div>
                </div>

                <div class="col-7 mb-5">
                    <form th:action="@{/articles/update/{id}(id=${article.id})}" method="POST" th:object="${article}"
                        enctype="multipart/form-data">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="articleTitle" class="form-label">Title</label>
                                <input id="articleTitle" type="text" class="form-control" th:field="*{title}"
                                    placeholder="Enter article title">
                                <p th:errors="*{title}" class="text-danger" th:if="${#fields.hasErrors('title')}"></p>
                            </div>
                            <div class="col">
                                <label for="subtitle" class="form-label">Subtitle</label>
                                <input id="subtitle" type="text" class="form-control" th:field="*{subtitle}"
                                    placeholder="Enter article subtitle">
                                <p th:errors="*{subtitle}" class="text-danger" th:if="${#fields.hasErrors('subtitle')}">
                                </p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="body" class="form-label">Article:</label>
                            <input id="body" type="text" class="form-control" th:field="*{body}"
                                placeholder="Enter article description">
                            <p th:errors="*{body}" class="text-danger" th:if="${#fields.hasErrors('body')}"></p>
                        </div>
                        <div class="mb-3">
                            <label for="date" class="form-label">Publish Date (yyyy-mm-dd)</label>
                            <input id="date" type="date" class="form-control" th:field="*{publishDate}"
                                placeholder="Enter article publish date yyyy-mm-dd">
                            <p th:errors="*{publishDate}" class="text-danger"
                                th:if="${#fields.hasErrors('publishDate')}"></p>
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Category</label>
                            <select id="category" th:field="*{category}" class="form-select">
                                <option th:each="category:${categories}" th:value="${category.id}"
                                    th:text="${category.name}"></option>
                                <p th:errors="*{category}" class="text-danger" th:if="${#fields.hasErrors('category')}">
                                </p>
                            </select>
                        </div>

                        <div class="mb-3 d-flex flex-column" th:if="${article.image != null}">
                            <label for="oldImage" class="form-label">Cover of article</label>
                            <img th:src="${article.image.path}" th:alt="'image of ' + ${article.title}" id="oldImage">
                        </div>
                        <div class="mb-3" th:unless="${article.image != null}">
                            <label for="noImage" class="form-label">Cover of article</label>
                            <p>No image uploaded</p>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">New cover</label>
                            <input type="file" name="file" id="image" class="form-control">
                        </div>


                        <div th:if="${article.galleryImages != null and !article.galleryImages.isEmpty()}"
                            class="col-12 col-md-5">
                            <label for="galleryImages" class="form-label">Gallery of article</label>
                            <div id="galleryImages" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="carousel-item"
                                        th:each="galleryImage, iterStat : ${article.galleryImages}"
                                        th:classappend="${iterStat.index == 0} ? ' active'">
                                        <img th:src="${galleryImage.path}" th:alt="|gallery image of ${article.title}|"
                                            class="d-block w-100">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#galleryImages"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#galleryImages"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                        <div class="mb-3"
                            th:unless="${article.galleryImages != null and !article.galleryImages.isEmpty()}">
                            <label for="noGallery" class="form-label">Gallery of article</label>
                            <p>No image uploaded</p>
                        </div>
                        <div class="mb-3">
                            <label for="oldGalleryImages" class="form-label">Gallery images
                                <small>(optional)</small></label>
                            <input type="file" name="galleryFiles" id="oldGalleryImages" class="form-control" multiple>
                        </div>

                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                            <i class="fas fa-exclamation-triangle me-2"></i>
                            <div>
                                <strong>Notice: </strong>
                                If you update any of the article fields, it will be sent back for the review.
                            </div>
                        </div>


                        <button type="submit" class="btn btn-warning">Update article</button>
                        <button type="reset" class="btn btn-outline-danger">Reset form</button>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <div th:insert="~{index :: footer}"></div>



    <!-- script esterno + bootstrap -->
    <div th:replace="~{index :: script}"></div>
</body>

</html>