<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head th:insert="~{index :: head}"></head>

<body>
    <div th:insert="~{index :: navbar}"></div>


    <div class="vh-100">
        <div class="container">
            <div class="row">
                <div class="col-12 my-5 d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-center align-items-center flex-grow-1">
                        <h1 th:text="${title}">Create Category</h1>
                    </div>
                </div>
                <div class="col-8 my-5">
                    <form th:action="@{'/categories'}" method="POST" th:object="${category}">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="name" class="form-label">Name category</label>
                                <input id="name" type="text" class="form-control" th:field="*{name}"
                                    placeholder="Enter category name">
                                <p th:errors="*{name}" class="text-danger" th:if="${#fields.hasErrors('name')}"></p>
                            </div>
                            <button type="submit" class="btn btn-success">Create category</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div th:insert="~{index :: footer}"></div>

    <script th:replace="~{index :: bootstrapScript}"></script>
</body>

</html>